.Counter input {
    font-size: 1.4rem;
    width: 80px;
}

.Counter button {
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: purple;
    color: aqua;
    font-size: 1.4rem;
}