.Card {
    border: 4px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    column-width: auto;
    column-gap: 50px;
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    flex: 1;
    background-color: #fff;
    color: purple;
    padding: 5px;
}